body {
  box-sizing: border-box;
  background: #551414;
  color: #ddddda;
  margin: 0;
}

#header {
  font-family: "Big Shoulders Display";
  font-size: 52px;
  text-shadow: 3px 3px 4px black;
  width: 100%;
  height: 190px;
  left: 0px;
  top: 0px;
  border-bottom: 2px double #ddddda;
  display: flex;
  justify-content: space-between;
}

#header img {
  margin: 16px;
  height: 84%;
  cursor: pointer;
}

#header a {
  color: #ddddda;
  text-decoration: none;
}

#header a.active {
  color: #a73638;
}

#navbar {
  align-self: flex-end;
  left: 50%;
  width: 42%;
  height: 90px;
  padding: 8px 67px;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

#main {
  display: flex;
  font-family: "Darker Grotesque";
  font-size: 28px;
  line-height: 32px;
  height: 100%;
}

#main > * {
  width: 45%;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #898989;
  border-radius: 12px;
}

#main h1 {
  display: block;
  font-size: 64px;
  font-weight: normal;
  margin-block: 0.35em;
  margin-inline: 0;
}

#search-default, #results {
  padding: 0 2.5%;
}

.title {
  padding-top: 12px;
}

.searchbar {
  display: block;
  width: 92%;
  height: 48px;
  margin-bottom: 20px;
  font-size: 24px;
  text-overflow: ellipsis;
}

input[type="text"] {
  background-color: #ddddda;
  border-radius: 7px;
}

#under-searchbar {
  display: flex;
  align-content: flex-start;
  justify-content: space-between;
  width: 93%;
}

button {
  font-family: "Darker Grotesque";
  font-size: 28px;
  background-color: #a73638;
  border: thick double #ddddda;
  border-radius: 4px;
}

button:disabled {
  background-color: #ddddda;
  border: thick double #cccccc;
}

#search-default button {
  width: 116px;
  height: 72px;
}

#fuzz-results {
  width: 72%;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
  background-color: #ddddda;
  border-radius: 8px;
  color: black;
  list-style: none;
  margin-block: 0;
  margin-inline: 0;
  padding-inline-start: 12px;
}

#fuzz-results::-webkit-scrollbar-corner {
  background: #ddddda;
  border-radius: 8px;
}

#fuzz-results button {
  height: auto;
  width: 68%;
  font-size: 24px;
  line-height: 28px;
  width: 85%;
  padding: 4px 16px;
  border-radius: 8px;
  background: #ddddda;
  cursor: pointer;
}

#fuzz-results button:first {
  padding-top: 6px;
}

#fuzz-results button:nth-child(even) {
  background-color: #cccccc;
}

#instructions ol {
  padding: 0 87px 0 44px;
  margin-block: 0;
  margin-inline: 0;
  list-style: none;
  counter-reset: li;
}

#results {
  height: 75vh;
  overflow: scroll;
  border: 3.3px solid #ddddda;
  border-radius: 8px;
  margin: 5px 10px;

}

#results::-webkit-scrollbar-corner {
  background: #551414;
}

#results ul {
  padding-inline-start: 15px;
  margin-block: 0;
  margin-inline: 0;
  list-style: none;
}

#instructions li::before {
  content: counter(li) '.  ';
  color: #a73638;
  display: inline-block;
  margin-left: -0.5em;
  padding-right: 0.35em
}

#instructions li {
  counter-increment: li;
}

#results li {
  padding: 16px 44px;
  width: 80%;
  border-radius: 8px;
}

#results li:nth-child(even) {
  background-color: #a73638;
}

#results #load-more {
  margin-top: 8px;
  display: block;
  color: #551414;
  padding: 0.25em 0.25em;
}

#results li a {
  text-decoration: none;
  color: #ddddda;
}

#results li a:hover {
  text-decoration: underline;
}

#start-match {
  width: 72%;
  background-color: #a73638;
  border-radius: 8px;
}

#start-match p {
  padding: 4px 16px;
  font-size: 24px;
  line-height: 28px;
  margin-block: 0;
  margin-inline: 0;
}

#no-results {
  margin-block: 0;
  margin-inline: 0;
  margin-top: 36px;
  line-height: 84px;
}

#disclaimer {
  font-size: 24px;
  margin-top: 2em;
}

#disclaimer p {
  margin-block: 0;
  margin-inline: 0;
  line-height: 28px;
}
